<%- include('header') -%>

<h1>Atvinnuumsóknir</h1>

<% rows.forEach((a) => { %>
<div class="application">
    <h2 class="application__name"><%= a.name%></h2>
    <a class="application__email" href="mailto:<%= a.email%>"><%= a.email%></a>
    <p class="application__created">Umsókn send: <%= a.created.toISOString()%></p>
    <p  class="application__text"><%= a.texti%></p>
    <div class="application__buttons">
        <% if(a.unnin) { %>
        <p>✓ Umsókn unnin: <%= a.updated.toISOString() %> </p>  
        <% } else { %>
        <button class="btn finish" id="finish" name="finish" onclick="<% test(a.id) %>">Vinna umsókn</button>
        <% } %>
        <button class="btn delete" id="delete" name="delete" onclick="<% test(a.id) %>">Eyða umsókn</button>
    </div>
</div>
<% }); %>

<%- include('footer') -%>